* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin-top: 20px;
}

.categories {
  list-style: none;
  display: flex;
  margin: 5px;
  gap: 10px;
}

.tasks {
  list-style: none;
  display: flex;
  flex-direction: column;
}

li {
  padding: 2px;
  display: flex;
  gap: 10px;
  align-items: center;
}

p {
  margin-top: 10px;
}

.general {
  background-color: lavender;
}

.optional {
  background-color: antiquewhite;
}

.required {
  background-color: lightpink;
}
